.container {
    display: grid;
    height: 90vh;
    margin-top: 3em;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat (3, 1fr);
    grid-gap: 30px;
    grid-auto-flow: row;
    background-color: rgb(242, 173, 152);
}

.box {
    background-color: antiquewhite;
    width: minmax(350px, 2fr);
    height: minmax(300px, 1fr);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    color: rgb(77, 101, 170);
    text-align: center;
    box-shadow: 4px 8px 6px 20px rgb(242, 151, 94);
}

.box img {
    width: 90%;
    height: 300px;
    opacity: 1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.blwerkstatt {
    backface-visibility: hidden;
}

.florist {
    backface-visibility: hidden;
}

.kreativ {
    backface-visibility: hidden;
}

.bub {
    backface-visibility: hidden;
}

.box-title {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.box-title-text {
    background-color: rgb(50, 138, 215);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 8px;
  }

.box:hover {
    transform: scale(1.1);
}

.box:hover .img {
    opacity: 0,3;
}

.box:hover .box-title {
    opacity: 1;
  }
  
  